{% extends "main_layout.html" %}

{%block style_handle%}
<style>
  .wrap-all-contact{
    overflow-x: scroll;
    white-space: nowrap;
    /* overflow-y: hidden;   */
  }
  .card-body{
    cursor: pointer;
  }

</style>
{%endblock%}

{% block title %}Demo chart{% endblock  %}

{% block breadcrumb %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Feature</a>
          </li>
          <li class="breadcrumb-item active">Demo chart</li>
        </ol>
{% endblock  %}

{% block content %}
<div class="card m-4 h-75">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> <strong>Sales management: </strong>
    <i class="fa fa-cog fa-lg font-2xl float-right p-0 m-0 text-secondary" data-toggle="modal" data-target="#ModalSetting"></i>
  </div>
  <div class="card-body w-100 float-left">
    <div class="row mx-1 w-100 float-left" style="overflow: auto;">
      <div class="wrap-all-contact w-100 float-left">
        <!-- List marketing -->
        {% for key_marketing, value_marketing in dict_contact_marketing.items() %}
          <div id="card-management" class="card card-accent-primary ml-1 d-inline-flex" style="width:270px;">
            <div class="card-header">Marketing ({{value_marketing.label}})</div>
            <div class="card-body p-1 card-draggable " style="width:100%; height: 400px; overflow-y: scroll">
              {% for contact in value_marketing.list_contact %}
                <div class="card card-accent-secondary m-1 drapdemo" >
                  <div class="card-body position-relative" style="white-space: normal;">
                    <!-- Thông tin contact -->
                    <div class="contact-content">
                      <span class="text-primary">{{contact.company}}: {{contact.firstname}} {{contact.lastname}} nguyen thi ngoc tran</span>
                      <br/>
                      <span>Close day: 123</span>
                    </div>
                    <!-- Các nút action cho contact -->
                    <div class="contact-action position-absolute" style="top: 7px; left: 210px">
                        <i class="icons cui-options" data-vid="{{contact.vid}}" data-toggle="modal" data-target="#modalContactDetail"></i>                      
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="card-footer">Price: </div>
          </div>
        {% endfor %}
        <!-- List sales -->
        {% for key_sale, value_sale in dict_contact_sales.items() %}
          <div id="card-sales" class="card ml-1 card-accent-warning d-inline-flex" style="width:270px;">
            <div class="card-header">Sales ({{value_sale.label}})</div>
            <div class="card-body p-1 card-draggable" style="height: 400px; overflow-y: scroll">
              {% for contact in value_sale.list_contact %}
                <div class="card card-accent-secondary m-1 drapdemo">
                  <div class="card-body" style="white-space: normal;">
                      <div class="contact-content">
                          <span class="text-primary">{{contact.company}}: {{contact.firstname}} {{contact.lastname}} nguyen thi ngoc tran</span>
                          <br/>
                          <span>Close day: 123</span>
                        </div>
                        <!-- Các nút action cho contact -->
                        <div class="contact-action position-absolute" style="top: 7px; left: 210px">
                            <i class="icons cui-options" data-vid="{{contact.vid}}"></i>                      
                        </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="card-footer">Price: </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Popup setting -->
  <div class="modal fade" id="ModalSetting" role="dialog" aria-labelledby="ModalSetting" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Sales setting</h4>
         <button class="close" type="button" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
       </div>
       <div id="modalSettingFormBody" class="modal-body">
          <!-- Đổ dữ liệu vào đây -->
       </div>
       <div class="modal-footer">
         <button onclick="update_settings();" class="btn btn-sm btn-primary" type="button">
         <i class="fa fa-save"></i> Save</button>
         <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Close</button>
       </div>
     </div>
     <!-- /.modal-content-->
   </div>
   <!-- /.modal-dialog-->
 </div>
 <!-- /.modal-->
 
  <!-- Input hidden để lấy dữ liệu -->
  <input type="hidden" id="site_id" value="">
 

</div>

<script>
$(document).ready(function(){
    $( ".card-draggable" ).sortable({
      connectWith: '.card-draggable',
      placeholder: "card-placeholder",
      forcePlaceholderSize: true,
      containment : '.wrap-all-contact',
      scrollSpeed: 60,
      scrollSensitivity:20,
      tolerance: "pointer",
      helper:'original',
      sort: function(event, ui){

        // Lấy tọa độ của container lớn (chứa marketing và cả sales)
        var height_container = $(".wrap-all-contact").width();

        // Lấy tọa độ x của con trỏ chuột hiện đang di chuyển
        var x = event.pageX
        var div = $(".wrap-all-contact")
        if (x > height_container){
          var pos = div.scrollLeft();
          div.scrollLeft(pos + 10);  
        }else if(x < height_container/3){
          var pos = div.scrollLeft();
          div.scrollLeft(pos - 10); 
        }
        
      },

    }).disableSelection();

    $('#ModalSetting').on('shown.bs.modal', function (e) {
      $.ajax({
            type: "POST",
            url: "/home/ajax-get-form-sale-setting",
            dataType: "html",
            data: { 
              'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
              if (response == 0){

              }else{
                $("#modalSettingFormBody").html(response);
              }
            },
            error: function (xhr, status, e) {
            }
      });
    });
});

function update_settings(){
  var string_marketing_properties = ''
  var marketing_properties = $(".marketing input[type='checkbox']").map(function(){
    // Lấy dữ liệu label
    var label = $(this).data('label');
    // Lấy dữ liệu is_show
    if ($(this).is(':checked')){
      var is_show = 1;
    }else{
      var is_show = 0;
    }
    string_marketing_properties = string_marketing_properties + label +'@@'+ is_show.toString() + '|'
    console.log(string_marketing_properties)
  });
  
}
</script>
{% endblock %}