{% extends "main_layout.html" %}

{% block title %}Demo drapable{% endblock  %}

{% block breadcrumb %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Feature</a>
          </li>
          <li class="breadcrumb-item active">Demo drapable</li>
        </ol>
{% endblock  %}

{% block content %}

<div id="app">

</div>

<!-- End .card -->
<script type="text/javascript">
    import React from 'react';
    var Form = React.createClass({
        render: function(){
            return (
                <div>
                    <h3>Click the button</h3>
                    <input type="submit" />
                </div>
            );
        }
    });
    var App = React.createClass({
        render: function(){
            return (
                <div>
                    <h1> Welcome to my app!</h1>
                    <Form />
                </div>
            );
        }
    });
    React.render(<App />,  document.getElementById("app"));

</script>

{% endblock  %}

