{% extends "main_layout.html" %}

{% block breadcrumb %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Feature</a>
          </li>
          <li class="breadcrumb-item active">Select 2</li>
        </ol>
{% endblock  %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i> Select 2
            </div>

            <div class="card-body">
                <input type="text" data-role="tagsinput">
            </div>

            <div class="card-footer">
                <div class="row">
                    <div col-1>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
<script>
$(document).ready(function() {
    $(".bootstrap-tagsinput .tag").css('color','red');

    $('#select2-2').select2({
        theme: 'bootstrap',
        placeholder: 'Your Favorite Football Team',
        allowClear: true
    });

    $('#select2-demo').select2({
        theme: 'bootstrap',
        placeholder: 'Your Favorite Football Team',
    });

    $("#select2-2").change(function(){
        console.log("Selected value is: "+$("#select2-2").val());
        console.log("Selected: " + $("#hoten").val());
        console.log("Ngày: " + $("#daterangepicker").val());
    });
    
    $('#hoten').select2({
        theme: 'bootstrap'
    });

    $('input[name="daterange"]').daterangepicker({
        opens: 'center',
        ranges: {
            Today: [moment(), moment()],
            Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    });

    $('input[name="color"]').amsifySuggestags({
        type : 'amsify'
    });
    
});
</script>
{% endblock  %}