{% extends "main_layout.html" %}

{% block title %}Table list{% endblock  %}

{% block linkStyle %}
    <link href='{{static ("/css/data_table_style.css")}}' rel="stylesheet">
{% endblock  %}

{% block breadcrumb %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Feature</a>
          </li>
          <li class="breadcrumb-item active">Table list</li>
          <!-- Breadcrumb Menu-->
        </ol>
{% endblock  %}

{% block content %}
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-edit" data-toggle="modal" data-target="#ModalSetting"></i> DataTables
                <div class="card-header-actions">
                  <a class="card-header-action" href="https://datatables.net" target="_blank">
                    <small class="text-muted">docs</small>
                  </a>
                </div>
              </div>
              <div class="card-body" id="data_table" class="progress-bar invisible mb-4">
                <!-- Nạp trang table html -->
                {% extends 'layout/table.html' %}

                <!-- Data của table -->
                {% block data_table %}
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Samppa Nori</td>
                        <td>2012/01/01</td>
                        <td>Member</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Estavan Lykos</td>
                        <td>2012/02/01</td>
                        <td>Staff</td>
                        <td>
                          <span class="badge badge-danger">Banned</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Chetan Mohamed</td>
                        <td>2012/02/01</td>
                        <td>Admin</td>
                        <td>
                          <span class="badge badge-secondary">Inactive</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Derick Maximinus</td>
                        <td>2012/03/01</td>
                        <td>Member</td>
                        <td>
                          <span class="badge badge-warning">Pending</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Friderik Dávid</td>
                        <td>2012/01/21</td>
                        <td>Staff</td>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                      </tr>
                    </tbody>
                {% endblock %}
              </div>
              <div class="card-footer">
                  <div class="row">
                      <div col-1>
                          <button onclick="del();" class="btn btn-block btn-danger" type="button" id="delete">Delete</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
  <!-- Popup setting -->
  <div class="modal fade" id="ModalSetting" role="dialog" aria-labelledby="ModalSetting" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Sales setting</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div id="modalSettingFormBody" class="modal-body">
             <!-- Đổ dữ liệu vào đây -->
          </div>
          <div class="modal-footer">
            <button onclick="update_settings();" class="btn btn-sm btn-primary" type="button">
            <i class="fa fa-save"></i> Save</button>
            <button class="btn btn-sm btn-secondary" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>
    <!-- /.modal-->
<!-- End .card -->
<script type="text/javascript">
  $(document).ready(function() {


    $('#table_tag').DataTable( {
      "order": [],
      "aLengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],
      "scrollX": true,
      "columnDefs": [ {
        "targets": 'no-sort',
        "orderable": false,
      } ],
      "buttons" : [
        'selectColumns'
      ],
    } );

    $('.card-footer').css("display", "none");
    checked_show_button('checkbox', 'card-footer');
  } );

  $('#table_data tbody tr td i.cui-pencil').hide();
  $('#table_data tbody tr td').hover(function(){
    $(this).closest('#table_data tbody tr td').find('i.cui-pencil').show();
  });
  $('#table_data tbody tr td i.cui-pencil').hover(function(){
    $(this).show();
  });
  $('#table_data tbody tr td').mouseout(function(){
    $(this).closest('#table_data tbody tr td').find('i.cui-pencil').hide();
  });

  function del(){
    var r = confirm("Are you sure?");
    var loading_bar_id        = 'progress_box';
    
    if(r == true){
      show_loading_bar(loading_bar_id)
      set_disabled_buttons();
      var id = $('.checkbox:checked').map(function(){
        return $(this).val();
      }).get().join(' ');
      alert(typeof(id));
    }
  }
</script>

{% endblock  %}

